.form-control {
    width: 300px;
}

.formdiv {
    margin-left: 450px;
}

.contact-form {
    animation: formAnimation 1s ease;
}


.contact-form {
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    transition: 0.4s;
}


.contact-form:hover {
    transform: translateY(-5px);
}


.inputbox {
    transition: 0.4s;
}


.inputbox:focus {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(13, 110, 253, 0.4);
}


.btncontact {
    transition: 0.4s;
    width: 150px;
}


.btncontact:hover {
    transform: translateY(-5px) scale(1.05);
}

.formsg {
    margin-right: 400px;
}

@keyframes formAnimation {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width:768px) {
    .formdiv {
        display: block !important;
        margin-left: 70px;
    }

    .btncontact {
        width: 20%
    }

    .contact-form {
        margin-left: 150px;
    }

    .formsg {
        margin-right: 150px !important;
    }
}

@media screen and (max-width:480px) {
    .formdiv {
        display: block !important;
        position: relative;
        right: 40px;
    }

    .contact-form {
        margin-left: 20px !important;
    }

    .btncontact {
        width: 20%
    }

    .form-control {
        width: 300px;
    }

    .formsg {
        position: relative;
        left: 50px;
    }


}