.homepage {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;

}

img {
    height: 750px;
    width: 400px;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border: 5px solid #0d6efd;
    object-fit: cover;
}

.intro {
    margin-top: 100px;

}

.intro h1 {
    font-size: 4.375rem;
}

.title-container {
    position: relative;
    height: 40px;
    overflow: hidden;
}

.role {
    position: absolute;
    left: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: #00bcd4;
    opacity: 0;
    animation: slideText 9s infinite;
}

.role-2 {
    animation-delay: 3s;
}
.role-3 {
    animation-delay: 6s;
}

@keyframes slideText {

    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
    }

    10% {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    30% {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    40% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@media screen and (max-width:768px) {
    .homepage {
        display: block;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
        padding-bottom: 50px;
    }

    .intro {
        margin-top: 20px;
    }

    .intro h1 {
        font-size: 3.6rem;
    }

    .intro h2 {
        font-size: 1.5rem;
    }

    .intro p {
        font-size: 14px;
    }

    img {
        height: 450px;
        width: 420px;
        margin-top: 30px;
    }

    .btn {
        margin-top: 10px;
        width: 70%;
    }

    .resumebtn {
        margin-top: 10px;
        width: 70%;

    }

    .icon {
        justify-content: center;
    }
     .role{
        left:250px;
    }
}

@media screen and (max-width:480px) {

    .homepage {
        display: block;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
        padding-bottom: 50px;
    }

    .intro {
        margin-top: 20px;
    }

    .intro h1 {
        font-size: 3.6rem;
    }

    .intro h2 {
        font-size: 1.5rem;
    }

    .intro p {
        font-size: 14px;
    }

    img {
        height: 350px;
        width: 320px;
        margin-top: 30px;
    }

    .btn {
        margin-top: 10px;
        width: 90%;
    }

    .resumebtn {
        margin-top: 10px;
        width: 90%;

    }

    .icon {
        justify-content: center;
    }
    .role{
        left:100px;
    }
}

