nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid black;
    position: relative;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin-right: 50px;



}

li {
    list-style: none;

}

a {
    text-decoration: none;
}

li:hover {
    color: blue;

}

#baricon {
    display: none;
}

.barbtn {
    border: none;
    background: none;
}

.talkbtn {
    height: 40px;
}
.mobilelist li a{
    color: white;
    font-size: 18px;
}

@media screen and (max-width:768px) {
    #baricon {
        display: block;
        margin-right: 20px;
    }

    ul {
        display: none;
    }
  
    .mobilelist {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 0;
        padding: 0;
    }

    .mobilelist li a {
        margin-top: 20px;
        margin-left: 350px;

    }

    .mobilenav {
        width: 100%;
        background: black;
        position: absolute;
        top: 45px;
        left: 0;
        padding: 20px 0;
        z-index: 1000;
    }

    .talkbtn {
        display: none;
    }
}

@media screen and (max-width:480px) {
    #baricon {
        display: block;
        margin-right: 20px;
    }

    ul {
        display: none;
    }

   .mobilelist {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 0;
        padding: 0;
    }

    .mobilelist li a {
        margin-top: 20px;
         margin-left: 200px;

    }

   .mobilenav {
        width: 100%;
        background: black;
        position: absolute;
        top: 45px;
        left: 0;
        padding: 20px 0;
        z-index: 1000;
    }

    .talkbtn {
        display: none;
    }
}

