.resumepage{
    height: 300px;
    width:800px;
    border: 1px solid black;
    margin-left: 200px;
    margin-bottom: 20px;

}
.resume-btn-container{
    margin-top: 30px;
  margin-left: 20px;
}
.resumeflexbtn{
    margin-left: 250px;
    position: relative;
    top: 15px;
}
@media screen and (max-width:768px){
    .resumepage{
        width:90%;
        margin-left: 30px;
        margin-right: 10px;
    }
    .sent{
        font-size: 1.5rem;
    }
     .resumeflexbtn{
        margin-left: 180px;
        position: relative;
        top: 5px;
    }
}
@media screen and (max-width:480px){
    .resumepage{
        width:90%;
        margin-left: 30px;
        margin-right: 10px;
    }
    .sent{
        font-size: 3.5rem;
    }
    .resumeflexbtn{
        margin-left: 50px;
        position: relative;
        top: -45px;
    }
}